body {
  text-align: center;
}

h1 {
  padding: 10px 40px;
  color: #fff;
  background-color: #09a;
  margin-bottom: 10px;
}

button {
  padding: 3px 26px;
  cursor: pointer;
}

button, #step-value {
  font-size: 20px;
  border-radius: 6px;
  margin: 20px;
}

.small-btn {
  padding: 3px 0;
  width: 67px;
}

.reset-btn {
  background: #ffebd8;
}

.ib-elem-parent {
  font-size: 0;
}

#plus {
  color: #0b0;
}

#minus {
  color: #f00;
}

#counter-step {
  vertical-align: middle;
}

#step-value {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  background: #efefef;
  border: 2px outset rgb(118, 118, 118);
}

#step {
  font-size: 20px;
  font-style: italic;
}